* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  background: none;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  transition: all ease 0.2s;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

svg {
  max-width: 100%;
  cursor: pointer;
}
